*.aux
*.log
notes/gformulakerneltest.pdf
*.png
g_env/*
*.json
*.py~
*.xml
*.iml
.idea/*
*__pycache__*
*.out
*checkpoints*
*idea*
*.pt
covid_hdm_data
#*.csv
*.zip
*.txt
*.jpg
*.pkl
*.Rhistory
*ReadmeTwins*
*.tex
natl2017.csv
wvs.csv
do_null_univariate_*
TWINS
do_null_100
exp_gcm_break_100
exp_hsic_break_100
covid_19_1
covid_19_2

hdm_breaker*

